Package: zalsrepo.github.io
Name: Test
Version: 1.0
Architecture: iphoneos-arm
Description: Testing
Maintainer Zalol <austinkincaidaitr@gmail.com>
Author: Zalol <austinkincaidaitr@gmail.com>
Section: Themes (Springboard)
